[Unit]
Description=Asp Net Core server localhost:5000
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
WorkingDirectory=/tmp/server
ExecStart=/usr/local/bin/dotnet /tmp/server/EnglishTutor.Api.dll
Restart=always
RestartSec=10
SyslogIdentifier=et-api
User=olehhalay
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target